*{
    margin:0;
    padding:0;
}
canvas {
    background: black;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

/*canvas {*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

