/*A SAMPLE CSS FILE TO CENTER YOUR GAME ON THE SCREEN*/

html {
    width: 100%;
    height: 100%;
}

body {
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

div {
    margin: 0;
    padding: 0;
}

#phaser-div {
    height: 100%;
    width: 100%;
}

canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    /*width:100% !important;*/
    /*height:100% !important;*/
}

#bug-fixer {
    font-family: 'OpenSans', sans-serif;
}