@font-face {
    font-family:'OpenSans-ExtraBold';
    font-style: normal;
    src: url(Opensans-ExtraBold.ttf)
}

html body>.font-hack{
    font-family:"OpenSans-ExtraBold", sans-serif;;
    visibility: hidden;
    position:absolute;
}